<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido de Café</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Faça seu Pedido de Café</h1>

    <form th:action="@{/order/send}" method="post" id="orderForm">
        <label for="nameProduct">Nome do Produto:</label>
        <input type="text" id="nameProduct" name="nameProduct" required>

        <label for="quantity">Quantidade:</label>
        <input type="number" id="quantity" name="quantity" required>

        <label for="client">Nome do Cliente:</label>
        <input type="text" id="client" name="client" required>

        <button type="submit">Enviar Pedido</button>
    </form>

    <div id="responseMessage"></div>
</div>

<script th:src="@{/js/script.js}"></script>
</body>
</html>
